
@media only screen and (max-width: 480px) {

	.top-container {
		width: 95%;
		height: 55px;
		position: relative;
		margin: 0 auto;
		padding-top: 3%;

		.top-wrapper {
			width: 100%;
			height: 100%;

			.location-input-container {
				width: 100%;
				height: 85%;
				box-sizing: border-box;
				margin: 0 auto;

				form {
					width: 100%;
					height: 100%;
				}

				.location-button-container {
					display: inline-block;
				}

				.location-input-field {
					margin-left: 10px;
					margin-right: 10px;
					width: calc(100% - 92px) !important;
					box-sizing: border-box;
				}
			}

			.loader-container {
				width: calc(100% - 92px);
				height: 15%;
				margin: 0 auto;
			}
		}
	}

	.bottom-container {
		width: 100%;
	}
}

@media only screen and (min-width: 481px) {

	.top-container {
		width: 100%;
		height: 20%;
		position: relative;

		.top-wrapper {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			max-height: 80px;
			max-width: 365px;
			margin: 0 auto;

			.location-input-container {
				width: 100%;
				height: 60%;
				box-sizing: border-box;

				.location-button-container {
					display: inline-block;
				}

				.location-input-field {
					margin-left: 10px;
					margin-right: 10px;
					width: calc(100% - 92px) !important;
					box-sizing: border-box;
				}
			}

			.loader-container {
				width: calc(100% - 92px);
				height: 40%;
				margin: 0 auto;
			}
		}
	}

	.bottom-container {
		width: 100%;
		height: 80%;
	}
}

.location-input-field {
	> div:before {
		border-bottom: solid 1px var(--line-color) !important;
	}
}
